//use Roboto font
html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #324164;
  @media only screen and (max-width: 767px) {
  }
}

body input,
body button,
body select,
body textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #324164;
}

@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

@mixin buttonShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

//raise and round buttons
.btn {
  border-radius: 2px;
  @include boxShadow;
}

.wrap {
  max-width: 1400px;
  margin-left: 150px;
  margin-right: 150px;
  @media only screen and (max-width: 1100px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

//No more image cropping
#reply-control .d-editor-preview img:not(.thumbnail):not(.emoji),
.cooked img:not(.thumbnail):not(.emoji) {
  max-width: 100% !important;
  height: auto;
}

//Header
#keteHeader {
  margin-bottom: 0;
  .header-container {
    display: flex;
    height: 90px;
    align-items: center;
    .header-logo{
      margin-left: 0;
      @media only screen and (max-width: 767px) {
        margin-left: auto;
      }
    }
    .nav-container {
      margin-left: auto;
      display: flex;
      align-items: center;
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    .navbar {
      .nav-link {
        margin-left: 30px;
      }
    }
  }
}

//Discourse header
#site-logo {
  display: none;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
  color: #324164;
}
.nav-item:hover {
  color: #324164;
}
.is-active {
  border-bottom: 3px solid #58c7dd !important;
  background-color: initial !important;
  padding-bottom: 7px !important;
  font-weight: 700;
}

.main-logo {
  width: 168px;
  height: auto;
}

.d-header {
  height: 90px;
  display: flex;
  align-items: center;
}
.d-header-icons > li {
  padding-top: 3px;
}
.d-header > div:first-child {
  width: 100%;
}

.d-header {
  display: none;
}

//Footer
#keteFooter {
  height: 90px;
  background-color: #324164;
  padding-top: 30px;
  padding-bottom: 30px;
  @media only screen and (max-width: 767px) {
    height: auto;
  }
  a {
    //font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
  }
  .footer-nav-container-left {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    @media only screen and (max-width: 1410px) {
      margin-bottom: 30px;
    }
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      margin-bottom: 0;
    }
    div {
      margin-right: 30px;
    }
  }
  .footer-nav-container-left > div {
    @media only screen and (max-width: 767px) {
      margin-bottom: 6px;
    }
  }
  .footer-nav-container-right {
    display: flex;
    margin-left: auto;
    //justify-self: flex-end;
    flex-direction: row;
    align-items: center;
    @media only screen and (max-width: 1410px) {
      flex-wrap: wrap;
      margin-left: 0;
    }
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-self: flex-start;
      margin-left: 0;
    }
    .footer-subscribe {
      margin-left: 0 !important;
    }
    div {
      margin-left: 7.5px;
      margin-right: 7.5px;
      @media only screen and (max-width: 767px) {
        margin-left: 0;
        margin-right: 15px;
      }
    }
    .footer-social-media {
      display: flex;
      margin-left: 0 !important;
      margin-right: 0 !important;
      div {
        margin-left: 7.5px;
        margin-right: 7.5px;
      }
      @media only screen and (max-width: 767px) {
        margin: 15px 0;
        margin-right: auto;
      }
    }
    .footer-logo {
      @media only screen and (max-width: 1410px) {
        width: 100px;
        margin-left: 0;
      }
      @media only screen and (max-width: 767px) {
        margin-right: auto;
      }
    }
  }
  .footer-container {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    @media only screen and (max-width: 1100px) {
    }
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 30px 20px;
    }
  }
}

//profile dropdown

.profile-dropdown {
  margin-left: 30px;
}

.profile-avatar {
  border-radius: 100%;
  margin-right: 15px;
}

.profile-arrow {
  padding-bottom: 3px;
}

.dropbtn {
  color: #324164;
  padding: 0;
  border: none;
  cursor: pointer;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
  margin-top: 23px;
  border: solid #324164 2px;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  right: 150px;
  @media only screen and (max-width: 1100px) {
    right: 0;
  }
}

.dropdown-content a {
  padding: 15px;
  text-decoration: none;
  display: block;
  background: white;
  border-bottom: solid 1px #d8d8d8;
  width: 264px;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}





/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 aria-expanded="true/false" will be for JavaScript
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;  
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
  }
  
  .main-menu ul {
    display: flex;
    
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  
  .main-menu a {
    color: #06c;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #c00;
  }
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  padding: 20px;
  display: flex;
  align-items: baseline;
}

article {
  padding: 30px;
  width: 55em;
  font-size: 16px;
  line-height: 1.5em;
}

article h2 {
  font-weight: 500;
  font-size: 28px;
}

.logo {
  margin: 0 30px 0 10px;
  font-size: 1.5em;
}