<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500"
  rel="stylesheet"
/>

<script type="text/x-handlebars" data-template-name="components/d-navigation">
  {{bread-crumbs categories=categories category=category noSubcategories=noSubcategories}}

  {{#if showCategoryAdmin}}
    {{categories-admin-dropdown
      create=createCategory
      reorder=reorderCategories}}
  {{/if}}

  {{navigation-bar navItems=navItems filterMode=filterMode category=category}}

  {{#if showCategoryNotifications}}
    {{category-notifications-button value=category.notification_level category=category}}
  {{/if}}

  {{create-topic-button
    canCreateTopic=canCreateTopic
    action=createTopic
    disabled=createTopicDisabled
    label=createTopicLabel
  }}

  {{#if showCategoryEdit}}
    {{d-button
      class="btn-default edit-category"
      action=editCategory
      icon="wrench"
      label="category.edit_long"}}
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="components/bread-crumbs">
  <!-- {{
      category-drop
      category=firstCategory
      categories=parentCategoriesSorted
      countSubcategories=true
    }} -->

    {{#if childCategories}}
      {{category-drop
        category=secondCategory
        parentCategory=firstCategory
        categories=childCategories
        subCategory=true
        noSubcategories=noSubcategories}}
    {{/if}}

    <!-- {{#if siteSettings.tagging_enabled}}
      {{tag-drop firstCategory=firstCategory secondCategory=secondCategory tagId=tagId}}
    {{/if}} -->

    {{plugin-outlet name="bread-crumbs-right" connectorTagName="li"}}

    <div class='clear'></div>
</script>

<script type="text/x-handlebars" data-template-name="discovery/topics">

    {{#if redirectedReason}}
        <div class="alert alert-info">{{redirectedReason}}</div>
    {{/if}}

  {{#if showDismissAtTop}}
    <div class="row">
      {{#if showDismissRead}}
        <button title="{{i18n 'topics.bulk.dismiss_tooltip'}}" id='dismiss-topics-top' class='btn btn-default dismiss-read' {{action "dismissReadPosts"}}>{{i18n 'topics.bulk.dismiss_button'}}</button>
      {{/if}}
      {{#if showResetNew}}
        <button id='dismiss-new-top' class='btn btn-default dismiss-read' {{action "resetNew"}}>{{d-icon "check"}} {{i18n 'topics.bulk.dismiss_new'}}</button>
      {{/if}}
    </div>
  {{/if}}

  {{#if model.sharedDrafts}}
    {{topic-list
      class="shared-drafts"
      listTitle="shared_drafts.title"
      top=top
      hideCategory="true"
      category=category
      topics=model.sharedDrafts
      discoveryList=true}}
  {{/if}}

  {{bulk-select-button selected=selected action="refresh" category=category}}

  {{#discovery-topics-list model=model refresh="refresh" incomingCount=topicTrackingState.incomingCount}}
    {{#if top}}
      <div class='top-lists'>
        {{period-chooser period=period action="changePeriod"}}
      </div>
    {{else}}
      {{#if topicTrackingState.hasIncoming}}
        <div class="show-more {{if hasTopics 'has-topics'}}">
          <div class='alert alert-info clickable' {{action "showInserted"}}>
            <a tabindex="0" href="" {{action "showInserted"}}>
              {{count-i18n key="topic_count_" suffix=topicTrackingState.filter count=topicTrackingState.incomingCount}}
            </a>
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{#if hasTopics}}
      {{topic-list
        highlightLastVisited=true
        top=top
        showTopicPostBadges=showTopicPostBadges
        showPosters=true
        canBulkSelect=canBulkSelect
        changeSort="changeSort"
        toggleBulkSelect="toggleBulkSelect"
        hideCategory=model.hideCategory
        order=order
        ascending=ascending
        bulkSelectEnabled=bulkSelectEnabled
        selected=selected
        expandGloballyPinned=expandGloballyPinned
        expandAllPinned=expandAllPinned
        category=category
        topics=model.topics
        discoveryList=true}}
    {{/if}}
  {{/discovery-topics-list}}

  <footer class='topic-list-bottom'>
    {{conditional-loading-spinner condition=model.loadingMore}}
    {{#if allLoaded}}
      {{#if showDismissRead}}
        <button title="{{i18n 'topics.bulk.dismiss_tooltip'}}" id='dismiss-topics' class='btn btn-default dismiss-read' {{action "dismissReadPosts"}}>{{i18n 'topics.bulk.dismiss_button'}}</button>
      {{/if}}
      {{#if showResetNew}}
        <button id='dismiss-new' class='btn btn-default dismiss-read' {{action "resetNew"}}>
          {{d-icon "check"}} {{i18n 'topics.bulk.dismiss_new'}}</button>
      {{/if}}

      {{#footer-message education=footerEducation message=footerMessage}}
        {{#if latest}}
          {{#if canCreateTopicOnCategory}}<a href {{action "createTopic"}}>{{i18n 'topic.suggest_create_topic'}}</a>.{{/if}}
        {{else if top}}
          {{#link-to "discovery.categories"}}{{i18n 'topic.browse_all_categories'}}{{/link-to}}, {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}} {{i18n 'or'}} {{i18n 'filters.top.other_periods'}}.
          {{top-period-buttons period=period action="changePeriod"}}
        {{else}}
          {{#link-to "discovery.categories"}} {{i18n 'topic.browse_all_categories'}}{{/link-to}} {{i18n 'or'}} {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}}.
        {{/if}}
      {{/footer-message}}

    {{/if}}
  </footer>
</script>

<script type="text/x-handlebars" data-template-name="discovery">
    <div id="headerBanner">
            <div class="wrap">
                <h1>Kete Community</h1>
                <p>Your forum to ask questions, post new discussions or join in on existing discussions by other NZTE customers.</p>
            </div>
        </div>

        <div class="container">
          {{discourse-banner user=currentUser banner=site.banner}}
        </div>

        <div class="list-controls">
          <div class="container">
            {{outlet "navigation-bar"}}
          </div>
        </div>

        {{conditional-loading-spinner condition=loading}}

        <div class="container list-container {{if loading "hidden"}}">
          <div class="row">
            <div class="full-width">
              <div id="header-list-area">
                {{outlet "header-list-container"}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="full-width">
              <div id="list-area">
                {{plugin-outlet name="discovery-list-container-top"
                                args=(hash category=category listLoading=loading)}}
                {{outlet "list-container"}}
              </div>
            </div>
          </div>
        </div>

        {{plugin-outlet name="discovery-below"}}
</script>

<!-- Topic list -->
<!-- remove header -->
<script type="text/x-handlebars" data-template-name="topic-list-header.raw">
  {{#if bulkSelectEnabled}}
    <th class="bulk-select">
      {{#if canBulkSelect}}
        {{raw "flat-button" class="bulk-select" icon="list" title="topics.bulk.toggle"}}
      {{/if}}
    </th>
  {{/if}}
  {{raw "topic-list-header-column" order='default' name=listTitle bulkSelectEnabled=bulkSelectEnabled showBulkToggle=toggleInTitle canBulkSelect=canBulkSelect}}
  <!-- {{#unless hideCategory}}
    {{raw "topic-list-header-column" sortable=sortable order='category' name='category_title'}}
  {{/unless}} -->
  {{#if showPosters}}
    {{raw "topic-list-header-column" order='posters' name='users'}}
  {{/if}}
  {{raw "topic-list-header-column" sortable=sortable number='true' order='posts' name='replies'}}
  {{#if showParticipants}}
    {{raw "topic-list-header-column" order='participants' name='users'}}
  {{/if}}
  {{#if showLikes}}
    {{raw "topic-list-header-column" sortable=sortable number='true' order='likes' name='likes'}}
  {{/if}}
  {{#if showOpLikes}}
    {{raw "topic-list-header-column" sortable=sortable number='true' order='op_likes' name='likes'}}
  {{/if}}
  {{raw "topic-list-header-column" sortable=sortable number='true' order='views' name='views'}}
  {{raw "topic-list-header-column" sortable=sortable number='true' order='activity' name='activity'}}
</script>

<script>
  function isHome() {
    console.log("window.location.pathname");
    return window.location.pathname === "/";
  }

  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  function navFunction() {
    const x = document.getElementById("mobileNav");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>

<script
  type="text/x-handlebars"
  data-template-name="/connectors/below-site-header/foobar"
>
  <div>
      <header id="keteHeader">
          <div class="wrap header-container topnav">
              <div class="nav-toggle">
                  <a href="javascript:void(0);" class="icon" onclick="navFunction()">
                      <img
                          width="24"
                          height="24"
                          src="{{themeSettings.web_url}}/icon/hamburger.png"
                      />
                  </a>
              </div>

              <div class="header-logo">
                  <a href="{{themeSettings.web_url}}"><img src="{{themeSettings.web_url}}/nztelogo.png"/></a>
              </div>

              <div class="nav-container">
                  {{#if currentUser}}
                  <div class="navbar">
                      <a class="nav-item" href="{{themeSettings.web_url}}/learn">Learn</a>
                      <a class="nav-item is-active" href="{{themeSettings.forum_url}}">Forum</a>
                      <!-- <a class="nav-item">Visit</a> -->
                  </div>
                  <div class="profile-dropdown" onclick="myFunction()">
                          <span  class="dropbtn">
                              <img
                                      class="profile-avatar"
                                      src="{{themeSettings.web_url}}/blank-avatar.png"
                                      height="44"
                                      width="44"/>
                              <span class="profile-name">{{currentUser.name}}</span>
                              <img
                                      class="profile-arrow"
                                      height="24"
                                      width="24"
                                      src="{{themeSettings.web_url}}/icon/expand.png"/>
                          </span>
                      <div id="myDropdown" class="dropdown-content">
                          <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/profile">My Profile</a>
                          <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/company">My Company</a>
                          <a class="nav-dropdown-item" href="#contact">Sign Out</a>
                      </div>
                  </div>
                  {{/if}}
              </div>
          </div>
      </header>
      {{#if currentUser}}
      <div id="mobileNav">
          <div class="profile-dropdown mobile-nav-profile">
                  <span class="dropbtn">
                  <img class="profile-avatar" src="{{themeSettings.web_url}}/blank-avatar.png" height="44" width="44"/>
                  <span class="profile-name">{{currentUser.name}}</span>
              </span>
          </div>
          <div class="mobile-nav-section">
              <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/profile">My Profile</a>
              <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/company">My Company</a>
          </div>
          <div class="mobile-nav-section">
              <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/learn">Learn</a>
              <a class="nav-dropdown-item" href="{{themeSettings.forum_url}}">Forum</a>
              <!-- <a class="nav-dropdown-item" href="#about">Visit</a>-->
          </div>
          <a class="nav-dropdown-item" href="#about">Sign Out</a>
      </div>
      {{/if}}

  </div>
</script>

<!-- list items -->
<script type="text/x-handlebars" data-template-name="list/topic-list-item.raw">

    {{#if bulkSelectEnabled}}
    <td class="bulk-select">
      <input type="checkbox" class="bulk-select">
    </td>
  {{/if}}

  <td class='main-link clearfix' colspan="1">
    <span class='link-top-line'>
      {{~raw-plugin-outlet name="topic-list-before-status"}}
      {{~raw "topic-status" topic=topic}}
      {{~topic-link topic class="raw-link raw-topic-link"}}
      {{~#if topic.featured_link}}
        {{~topic-featured-link topic}}
      {{~/if}}
      {{~raw-plugin-outlet name="topic-list-after-title"}}
      {{~#if showTopicPostBadges}}
        {{~raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl newDotText=newDotText}}
      {{~/if}}
    </span>

    {{discourse-tags topic mode="list" tagsForUser=tagsForUser}}

      {{raw "list/topic-excerpt" topic=topic}}

    {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
  </td>

  <!-- {{#unless hideCategory}}
    {{#unless topic.isPinnedUncategorized}}
      {{raw "list/category-column" category=topic.category}}
    {{/unless}}
  {{/unless}} -->

  {{#if showPosters}}
    {{raw "list/posters-column" posters=topic.posters}}
  {{/if}}

  {{raw "list/posts-count-column" topic=topic}}

  {{#if showParticipants}}
    {{raw "list/posters-column" posters=topic.participants}}
  {{/if}}

  {{#if showLikes}}
  <td class="num likes">
    {{#if hasLikes}}
      <a href='{{topic.summaryUrl}}'>
        {{number topic.like_count}} {{d-icon "heart"}}</td>
      </a>
    {{/if}}
  {{/if}}

  {{#if showOpLikes}}
  <td class="num likes">
    {{#if hasOpLikes}}
      <a href='{{topic.summaryUrl}}'>
        {{number topic.op_like_count}} {{d-icon "heart"}}</td>
      </a>
    {{/if}}
  {{/if}}

  <td class="num views {{topic.viewsHeat}}">{{number topic.views numberKey="views_long"}}</td>

  {{raw "list/activity-column" topic=topic class="num" tagName="td"}}
</script>

<!-- widgets -->
<script type="text/x-handlebars" data-template-name="composer">
    {{#composer-body composer=model
      showPreview=showPreview
      openIfDraft="openIfDraft"
      typed="typed"
      cancelled="cancelled"
      save="save"}}

  {{#if visible}}
  {{composer-messages composer=model
               messageCount=messageCount
               addLinkLookup="addLinkLookup"}}
  {{#if model.viewOpenOrFullscreen}}



  <div class="reply-area {{if canEditTags 'with-tags'}}">

  <div class='composer-fields'>
  {{plugin-outlet name="composer-open" args=(hash model=model)}}
  <div class='reply-to'>
   {{#unless model.viewFullscreen}}
      <h2 class="discussionTitle">Start a new discussion</h2>
   {{/unless}}
   {{composer-toggles composeState=model.composeState
             toggleComposer=(action "toggle")
             toggleToolbar=(action "toggleToolbar")
             toggleFullscreen=(action "fullscreenComposer")}}
  </div>
  {{#unless model.viewFullscreen}}
   {{#if model.canEditTitle}}
     {{#if model.creatingPrivateMessage}}
       <div class='user-selector'>
         {{composer-user-selector topicId=topicModel.id
                                  usernames=model.targetUsernames
                                  hasGroups=model.hasTargetGroups
                                  focusTarget=focusTarget
                                  class="users-input"}}
         {{#if showWarning}}
           <label class='add-warning'>
             {{input type="checkbox" checked=model.isWarning tabindex="3"}}
             {{i18n "composer.add_warning"}}
           </label>
         {{/if}}
       </div>
     {{/if}}

     <div class="title-and-category {{if showPreview 'with-preview'}}">

       {{composer-title composer=model lastValidatedAt=lastValidatedAt focusTarget=focusTarget}}

       {{#if model.showCategoryChooser}}

       {{/if}}
       {{#if canEditTags}}
         {{mini-tag-chooser tags=model.tags tabindex="4" categoryId=model.categoryId minimum=model.minimumRequiredTags}}
         {{popup-input-tip validation=tagValidation}}
       {{/if}}
     </div>
   {{/if}}

   {{plugin-outlet name="composer-fields" args=(hash model=model)}}
  {{/unless}}

  </div>

  {{composer-editor topic=topic
                 composer=model
                 lastValidatedAt=lastValidatedAt
                 canWhisper=canWhisper
                 storeToolbarState="storeToolbarState"
                 onPopupMenuAction=(action "onPopupMenuAction")
                 popupMenuOptions=popupMenuOptions
                 draftStatus=model.draftStatus
                 isUploading=isUploading
                 allowUpload=allowUpload
                 uploadIcon=uploadIcon
                 isCancellable=isCancellable
                 uploadProgress=uploadProgress
                 groupsMentioned="groupsMentioned"
                 cannotSeeMention="cannotSeeMention"
                 importQuote="importQuote"
                 togglePreview="togglePreview"
                 showToolbar=showToolbar
                 showUploadSelector="showUploadSelector"
                 afterRefresh="afterRefresh"}}

  <div class='submit-panel'>
  {{plugin-outlet name="composer-fields-below" args=(hash model=model)}}

  <div class='save-or-cancel'>
   {{#unless model.viewFullscreen}}
     {{composer-save-button action=(action "save")
                            icon=model.saveIcon
                            label=model.saveLabel
                            disableSubmit=disableSubmit}}

   {{#if site.mobileView}}
     <a href {{action "cancel"}} class='cancel' tabindex="6" title="{{i18n 'cancel'}}">
       {{#if canEdit}}
         {{d-icon "times"}}
       {{else}}
         {{d-icon "trash-o"}}
       {{/if}}
     </a>
   {{else}}
     <a href {{action "cancel"}} class='cancel' tabindex="6" >{{i18n 'cancel'}}</a>
   {{/if}}
  {{/unless}}


   {{#if site.mobileView}}
     {{#if whisperOrUnlistTopic}}
       <span class='whisper'>
         {{d-icon "eye-slash"}}
       </span>
     {{/if}}
     {{#if model.noBump}}
       <span class="no-bump">{{d-icon "anchor"}}</span>
     {{/if}}
   {{/if}}


   {{#if isUploading}}
     <div id="file-uploading">
       {{loading-spinner size="small"}}<span>{{i18n 'upload_selector.uploading'}} {{uploadProgress}}%</span>
       {{#if isCancellable}}
         <a href id="cancel-file-upload" {{action "cancelUpload"}}>{{d-icon "times"}}</a>
       {{/if}}
     </div>
   {{/if}}

  </div>

  <div class="composer-bottom-right">
   {{#if site.mobileView}}
     {{#if allowUpload}}
       <a class="btn btn-default no-text mobile-file-upload {{if isUploading 'hidden'}}">
         {{d-icon uploadIcon}}
       </a>
     {{/if}}

     {{#if showPreview}}
       {{d-button action='togglePreview' class='hide-preview' label='composer.hide_preview'}}
     {{/if}}
   {{else}}
     <a href {{action "togglePreview"}} class='toggle-preview'>{{{toggleText}}}</a>
   {{/if}}

  </div>
  </div>
  </div>

  {{else}}
  <div class='saving-text'>
  {{#if model.createdPost}}
  {{i18n 'composer.saved'}} <a class='permalink' href="{{unbound createdPost.url}}" {{action "viewNewReply"}}>{{i18n 'composer.view_new_post'}}</a>
  {{else}}
  {{i18n 'composer.saving'}} {{loading-spinner size="small"}}
  {{/if}}
  </div>

  <div class='draft-text'>
  {{#if model.topic}}
  {{d-icon "mail-forward"}} {{{draftTitle}}}
  {{else}}
  {{i18n "composer.saved_draft"}}
  {{/if}}
  </div>

  {{composer-toggles composeState=model.composeState
  toggleFullscreen=(action "fullscreenComposer")
  toggleComposer=(action "toggle")
  toggleToolbar=(action "toggleToolbar")}}

  {{/if}}

  {{/if}}

  {{/composer-body}}
</script>

<script type="text/x-handlebars" data-template-name="/connectors/below-footer/custom-footer">
    <footer id="keteFooter">
        <div class="wrap footer-container">
            <div class="footer-nav-container-left">
                <div><a>About</a></div>
                <div><a href="https://www.nzte.govt.nz/terms-of-use" target="_blank" rel="noopener noreferrer">Terms of use</a></div>
                <div><a href="https://www.nzte.govt.nz/linking-policy" target="_blank" rel="noopener noreferrer">Linking policy</a></div>
                <div><a href="https://www.nzte.govt.nz/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy</a></div>
                <div><a>Contact</a></div>
            </div>
            <div class="footer-nav-container-right">
                <div class="footer-subscribe">
                    <a>Subscribe to our newsletter</a>
                </div>
                <div class="footer-social-media">
                    <div>
                        <a href="https://twitter.com/NZTEnews" target="_blank" rel="noopener noreferrer">
                            <img width="35" height="35" className="socialIcon" src="{{themeSettings.web_url}}/icon/twitter.png" alt="twitter logo" />
                        </a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/NZtradeandenterprise" target="_blank" rel="noopener noreferrer">
                            <img width="35" height="35" className="socialIcon" src="{{themeSettings.web_url}}/icon/facebook.png" alt="facebook logo"/>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/company/new-zealand-trade-and-enterprise" target="_blank" rel="noopener noreferrer">
                            <img width="35" height="35" className="socialIcon" src="{{themeSettings.web_url}}/icon/linkedin.png" alt="linkedin logo"/>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.youtube.com/nztevideo" target="_blank" rel="noopener noreferrer">
                            <img width="35" height="35" className="socialIcon" src="{{themeSettings.web_url}}/icon/youtube.png" alt="youtube logo"/>
                        </a>
                    </div>
                </div>
                <div class="footer-logo">
                    <a className="nzGovtLogo" href="https://www.govt.nz/" target="_blank" rel="noopener noreferrer">
                        <img width="168px" src="{{themeSettings.web_url}}/nzgovt.png" alt="NZ Govt logo"/>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</script>