<script>
    I18n.translations.en.js.topic.create = "Start new discussion";
    I18n.translations.en.js.topic.create_long = "Start new discussion";
    I18n.translations.en.js.topic.reply.title = "Comment";
    I18n.translations.en.js.composer.reply = "Save";
    I18n.translations.en.js.composer.create_topic = I18n.translations.en.js.composer.reply;
    I18n.translations.en.js.composer.composer_actions.reply = I18n.translations.en.js.composer.reply;

    I18n.translations.en.js.bookmarked.title = "Save to favourites";
    I18n.translations.en.js.bookmarked.clear_bookmarks = "Remove from favourites";
    I18n.translations.en.js.bookmarked.help.bookmark = "Click to save to favourites";
    I18n.translations.en.js.bookmarked.help.unbookmark = "Click to remove from favourites";

    I18n.translations.en.js.bookmarks.created = "you've saved this post to your favourites";
    I18n.translations.en.js.bookmarks.not_bookmarked = "Save this post to your favourites";
    I18n.translations.en.js.bookmarks.remove = I18n.translations.en.js.bookmarked.clear_bookmarks;
    I18n.translations.en.js.bookmarks.confirm_clear = "Are you sure you wish to clear all your favourites from this topic?";

    I18n.translations.en.js.search.title = "Search Kete Community";
    I18n.translations.en.js.search.full_page_title = I18n.translations.en.js.search.title;

    I18n.translations.en.js.suggested_topics.title = "Suggested discussions";
</script>

<script type="text/x-handlebars" data-template-name="components/d-navigation">
  {{bread-crumbs categories=categories category=category noSubcategories=noSubcategories}}

  {{#if showCategoryAdmin}}
    {{categories-admin-dropdown
      create=createCategory
      reorder=reorderCategories}}
  {{/if}}

  {{navigation-bar navItems=navItems filterMode=filterMode category=category}}

  {{#if showCategoryNotifications}}
    {{category-notifications-button value=category.notification_level category=category}}
  {{/if}}

  {{create-topic-button
    canCreateTopic=canCreateTopic
    action=createTopic
    disabled=createTopicDisabled
    label=createTopicLabel
  }}

  {{#if showCategoryEdit}}
    {{d-button
      class="btn-default edit-category"
      action=editCategory
      icon="wrench"
      label="category.edit_long"}}
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="components/bread-crumbs">
  <!-- {{
      category-drop
      category=firstCategory
      categories=parentCategoriesSorted
      countSubcategories=true
    }} -->

    {{#if childCategories}}
      {{category-drop
        category=secondCategory
        parentCategory=firstCategory
        categories=childCategories
        subCategory=true
        noSubcategories=noSubcategories}}
    {{/if}}

    <!-- {{#if siteSettings.tagging_enabled}}
      {{tag-drop firstCategory=firstCategory secondCategory=secondCategory tagId=tagId}}
    {{/if}} -->

    {{plugin-outlet name="bread-crumbs-right" connectorTagName="li"}}

    <div class='clear'></div>
</script>

<script type="text/x-handlebars" data-template-name="discovery/topics">

    {{#if redirectedReason}}
        <div class="alert alert-info">{{redirectedReason}}</div>
    {{/if}}

  {{#if showDismissAtTop}}
    <div class="row">
      {{#if showDismissRead}}
        <button title="{{i18n 'topics.bulk.dismiss_tooltip'}}" id='dismiss-topics-top' class='btn btn-default dismiss-read' {{action "dismissReadPosts"}}>{{i18n 'topics.bulk.dismiss_button'}}</button>
      {{/if}}
      {{#if showResetNew}}
        <button id='dismiss-new-top' class='btn btn-default dismiss-read' {{action "resetNew"}}>{{d-icon "check"}} {{i18n 'topics.bulk.dismiss_new'}}</button>
      {{/if}}
    </div>
  {{/if}}

  {{#if model.sharedDrafts}}
    {{topic-list
      class="shared-drafts"
      listTitle="shared_drafts.title"
      top=top
      hideCategory="true"
      category=category
      topics=model.sharedDrafts
      discoveryList=true}}
  {{/if}}

  {{bulk-select-button selected=selected action="refresh" category=category}}

  {{#discovery-topics-list model=model refresh="refresh" incomingCount=topicTrackingState.incomingCount}}
    {{#if top}}
      <div class='top-lists'>
        {{period-chooser period=period action="changePeriod"}}
      </div>
    {{else}}
      {{#if topicTrackingState.hasIncoming}}
        <div class="show-more {{if hasTopics 'has-topics'}}">
          <div class='alert alert-info clickable' {{action "showInserted"}}>
            <a tabindex="0" href="" {{action "showInserted"}}>
              {{count-i18n key="topic_count_" suffix=topicTrackingState.filter count=topicTrackingState.incomingCount}}
            </a>
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{#if hasTopics}}
      {{topic-list
        highlightLastVisited=true
        top=top
        showTopicPostBadges=showTopicPostBadges
        showPosters=true
        canBulkSelect=canBulkSelect
        changeSort="changeSort"
        toggleBulkSelect="toggleBulkSelect"
        hideCategory=model.hideCategory
        order=order
        ascending=ascending
        bulkSelectEnabled=bulkSelectEnabled
        selected=selected
        expandGloballyPinned=expandGloballyPinned
        expandAllPinned=expandAllPinned
        category=category
        topics=model.topics
        discoveryList=true}}
    {{/if}}
  {{/discovery-topics-list}}

  <footer class='topic-list-bottom'>
    {{conditional-loading-spinner condition=model.loadingMore}}
    {{#if allLoaded}}
      {{#if showDismissRead}}
        <button title="{{i18n 'topics.bulk.dismiss_tooltip'}}" id='dismiss-topics' class='btn btn-default dismiss-read' {{action "dismissReadPosts"}}>{{i18n 'topics.bulk.dismiss_button'}}</button>
      {{/if}}
      {{#if showResetNew}}
        <button id='dismiss-new' class='btn btn-default dismiss-read' {{action "resetNew"}}>
          {{d-icon "check"}} {{i18n 'topics.bulk.dismiss_new'}}</button>
      {{/if}}

      {{#footer-message education=footerEducation message=footerMessage}}
        {{#if latest}}
          {{#if canCreateTopicOnCategory}}<a href {{action "createTopic"}}>{{i18n 'topic.suggest_create_topic'}}</a>.{{/if}}
        {{else if top}}
          {{#link-to "discovery.categories"}}{{i18n 'topic.browse_all_categories'}}{{/link-to}}, {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}} {{i18n 'or'}} {{i18n 'filters.top.other_periods'}}.
          {{top-period-buttons period=period action="changePeriod"}}
        {{else}}
          {{#link-to "discovery.categories"}} {{i18n 'topic.browse_all_categories'}}{{/link-to}} {{i18n 'or'}} {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}}.
        {{/if}}
      {{/footer-message}}

    {{/if}}
  </footer>
</script>

<script type="text/x-handlebars" data-template-name="discovery">
    <div id="headerBanner">
            <div class="wrap">
                <h1 class="intro-title">Kete Community</h1>
                <h3 class="intro-subtitle">Your forum to ask questions, post new discussions or join in on existing discussions by other NZTE customers.</h3>
            </div>
        </div>

        <div class="container">
          {{discourse-banner user=currentUser banner=site.banner}}
        </div>

        <div class="list-controls">
          <div class="container">
            {{outlet "navigation-bar"}}
          </div>
        </div>

        {{conditional-loading-spinner condition=loading}}

        <div class="container list-container {{if loading "hidden"}}">
          <div class="row">
            <div class="full-width">
              <div id="header-list-area">
                {{outlet "header-list-container"}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="full-width">
              <div id="list-area">
                {{plugin-outlet name="discovery-list-container-top"
                                args=(hash category=category listLoading=loading)}}
                {{outlet "list-container"}}
              </div>
            </div>
          </div>
        </div>

        {{plugin-outlet name="discovery-below"}}
</script>

<!-- Topic list -->
<!-- remove header -->
<script type="text/x-handlebars" data-template-name="topic-list-header.raw">
  {{#if bulkSelectEnabled}}
    <th class="bulk-select">
      {{#if canBulkSelect}}
        {{raw "flat-button" class="bulk-select" icon="list" title="topics.bulk.toggle"}}
      {{/if}}
    </th>
  {{/if}}
  {{raw "topic-list-header-column" order='default' name=listTitle bulkSelectEnabled=bulkSelectEnabled showBulkToggle=toggleInTitle canBulkSelect=canBulkSelect}}
  <!-- {{#unless hideCategory}}
    {{raw "topic-list-header-column" sortable=sortable order='category' name='category_title'}}
  {{/unless}} -->
  {{#if showPosters}}
    {{raw "topic-list-header-column" order='posters' name='users'}}
  {{/if}}
  {{raw "topic-list-header-column" sortable=sortable number='true' order='posts' name='replies'}}
  {{#if showParticipants}}
    {{raw "topic-list-header-column" order='participants' name='users'}}
  {{/if}}
  {{#if showLikes}}
    {{raw "topic-list-header-column" sortable=sortable number='true' order='likes' name='likes'}}
  {{/if}}
  {{#if showOpLikes}}
    {{raw "topic-list-header-column" sortable=sortable number='true' order='op_likes' name='likes'}}
  {{/if}}
  {{raw "topic-list-header-column" sortable=sortable number='true' order='views' name='views'}}
  {{raw "topic-list-header-column" sortable=sortable number='true' order='activity' name='activity'}}
</script>

<script>
  function isHome() {
    console.log("window.location.pathname");
    return window.location.pathname === "/";
  }

  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  function navFunction() {
    const x = document.getElementById("mobileNav");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>

<script
  type="text/x-handlebars"
  data-template-name="/connectors/below-site-header/foobar"
>
  <div>
      <header id="keteHeader">
          <div class="wrap header-container topnav">
              <div class="nav-toggle">
                  <a href="javascript:void(0);" class="icon" onclick="navFunction()">
                      <img
                          width="24"
                          height="24"
                          src="{{themeSettings.web_url}}/icon/hamburger.png"
                      />
                  </a>
              </div>

              <div class="header-logo">
                  <a href="{{themeSettings.web_url}}"><img src="{{themeSettings.web_url}}/nztelogo.png"/></a>
              </div>

              <div class="nav-container">
                  {{#if currentUser}}
                  <div class="navbar">
                      <a class="nav-item" href="{{themeSettings.web_url}}/learn">Learn</a>
                      <a class="nav-item is-active" href="{{themeSettings.forum_url}}">Forum</a>
                      <a class="nav-item" href="{{themeSettings.web_url}}/company#plan">Plan</a>
                  </div>
                  <div class="profile-dropdown" onclick="myFunction()">
                          <span  class="dropbtn">
                              <img
                                      class="profile-avatar"
                                      src="{{themeSettings.web_url}}/blank-avatar.png"
                                      height="44"
                                      width="44"/>
                              <span class="profile-name">{{currentUser.name}}</span>
                              <img
                                      class="profile-arrow"
                                      height="24"
                                      width="24"
                                      src="{{themeSettings.web_url}}/icon/expand.png"/>
                          </span>
                      <div id="myDropdown" class="dropdown-content">
                          <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/profile">My Profile</a>
                          <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/company">My Company</a>
                          <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/?loggedOut=true&fId={{currentUser.id}}">Sign Out</a>
                      </div>
                  </div>
                  {{/if}}
              </div>
          </div>
      </header>
      {{#if currentUser}}
      <div id="mobileNav">
          <div class="profile-dropdown mobile-nav-profile">
                  <span class="dropbtn">
                  <img class="profile-avatar" src="{{themeSettings.web_url}}/blank-avatar.png" height="44" width="44"/>
                  <span class="profile-name">{{currentUser.name}}</span>
              </span>
          </div>
          <div class="mobile-nav-section">
              <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/profile">My Profile</a>
              <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/company">My Company</a>
          </div>
          <div class="mobile-nav-section">
              <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/learn">Learn</a>
              <a class="nav-dropdown-item" href="{{themeSettings.forum_url}}" onclick="navFunction()">Forum</a>
              <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/company#plan">Plan</a>
          </div>
          <a class="nav-dropdown-item" href="{{themeSettings.web_url}}/?loggedOut=true&fId={{currentUser.id}}">Sign Out</a>
      </div>
      {{/if}}
  </div>
</script>


<script type="text/x-handlebars" data-template-name="application">
  {{plugin-outlet name="above-site-header"}}
  {{site-header canSignUp=canSignUp
                showCreateAccount=(route-action "showCreateAccount")
                showLogin=(route-action "showLogin")
                showKeyboard=(route-action "showKeyboardShortcutsHelp")
                toggleMobileView=(route-action "toggleMobileView")
                toggleAnonymous=(route-action "toggleAnonymous")
                logout=(route-action "logout")}}

  {{plugin-outlet name="below-site-header" args=(hash currentPath=currentPath)}}

  <div id="main-outlet" class="wrap">

    {{outlet}}
    {{outlet "user-card"}}
  </div>

  {{plugin-outlet name="above-footer" args=(hash showFooter=showFooter)}}
  {{#if showFooter}}
    {{custom-html name="footer" triggerAppEvent="true"}}
  {{/if}}
  {{plugin-outlet name="below-footer" args=(hash showFooter=showFooter)}}

  {{outlet "modal"}}
  {{topic-entrance}}
  {{outlet "composer"}}
</script>

<!-- list items -->
<script type="text/x-handlebars" data-template-name="list/topic-list-item.raw">

    {{#if bulkSelectEnabled}}
    <td class="bulk-select">
      <input type="checkbox" class="bulk-select">
    </td>
  {{/if}}

  <td class='main-link clearfix' colspan="1">
    <span class='link-top-line'>
      {{~raw-plugin-outlet name="topic-list-before-status"}}
      {{~raw "topic-status" topic=topic}}
      {{~topic-link topic class="raw-link raw-topic-link"}}
      {{~#if topic.featured_link}}
        {{~topic-featured-link topic}}
      {{~/if}}
      {{~raw-plugin-outlet name="topic-list-after-title"}}
      {{~#if showTopicPostBadges}}
        {{~raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl newDotText=newDotText}}
      {{~/if}}
    </span>

    {{discourse-tags topic mode="list" tagsForUser=tagsForUser}}

      {{raw "list/topic-excerpt" topic=topic}}

    {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
  </td>

  <!-- {{#unless hideCategory}}
    {{#unless topic.isPinnedUncategorized}}
      {{raw "list/category-column" category=topic.category}}
    {{/unless}}
  {{/unless}} -->

  {{#if showPosters}}
    {{raw "list/posters-column" posters=topic.posters}}
  {{/if}}

  {{raw "list/posts-count-column" topic=topic}}

  {{#if showParticipants}}
    {{raw "list/posters-column" posters=topic.participants}}
  {{/if}}

  {{#if showLikes}}
  <td class="num likes">
    {{#if hasLikes}}
      <a href='{{topic.summaryUrl}}'>
        {{number topic.like_count}} {{d-icon "heart"}}</td>
      </a>
    {{/if}}
  {{/if}}

  {{#if showOpLikes}}
  <td class="num likes">
    {{#if hasOpLikes}}
      <a href='{{topic.summaryUrl}}'>
        {{number topic.op_like_count}} {{d-icon "heart"}}</td>
      </a>
    {{/if}}
  {{/if}}

  <td class="num views {{topic.viewsHeat}}">{{number topic.views numberKey="views_long"}}</td>

  {{raw "list/activity-column" topic=topic class="num" tagName="td"}}
</script>

<script type="text/x-handlebars" data-template-name="/connectors/below-footer/custom-footer">
    <footer id="keteFooter">
        <div class="wrap footer-container">
            <div class="footer-nav-container-left">
                <div><a>About</a></div>
                <div><a href="https://www.nzte.govt.nz/terms-of-use" target="_blank" rel="noopener noreferrer">Terms of use</a></div>
                <div><a href="https://www.nzte.govt.nz/linking-policy" target="_blank" rel="noopener noreferrer">Linking policy</a></div>
                <div><a href="https://www.nzte.govt.nz/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy</a></div>
                <div><a>Contact</a></div>
            </div>
            <div class="footer-nav-container-right">
                <div class="footer-subscribe">
                    <a>Subscribe to our newsletter</a>
                </div>
                <div class="footer-social-media">
                    <div>
                        <a href="https://twitter.com/NZTEnews" target="_blank" rel="noopener noreferrer">
                            <img width="35" height="35" className="socialIcon" src="{{themeSettings.web_url}}/icon/twitter.png" alt="twitter logo" />
                        </a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/NZtradeandenterprise" target="_blank" rel="noopener noreferrer">
                            <img width="35" height="35" className="socialIcon" src="{{themeSettings.web_url}}/icon/facebook.png" alt="facebook logo"/>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/company/new-zealand-trade-and-enterprise" target="_blank" rel="noopener noreferrer">
                            <img width="35" height="35" className="socialIcon" src="{{themeSettings.web_url}}/icon/linkedin.png" alt="linkedin logo"/>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.youtube.com/nztevideo" target="_blank" rel="noopener noreferrer">
                            <img width="35" height="35" className="socialIcon" src="{{themeSettings.web_url}}/icon/youtube.png" alt="youtube logo"/>
                        </a>
                    </div>
                </div>
                <div class="footer-logo">
                    <a className="nzGovtLogo" href="https://www.govt.nz/" target="_blank" rel="noopener noreferrer">
                        <img width="168px" src="{{themeSettings.web_url}}/nzgovt.png" alt="NZ Govt logo"/>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</script>

<script type="text/x-handlebars" data-template-name="/connectors/topic-above-post-stream/backbtn">
  <div style="height: 200px; width: 200px;background: red"></div>
</script>