<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500"
  rel="stylesheet"
/>

<script type="text/x-handlebars" data-template-name="components/d-navigation">
  {{bread-crumbs categories=categories category=category noSubcategories=noSubcategories}}

  {{#if showCategoryAdmin}}
    {{categories-admin-dropdown
      create=createCategory
      reorder=reorderCategories}}
  {{/if}}

  {{navigation-bar navItems=navItems filterMode=filterMode category=category}}

  {{#if showCategoryNotifications}}
    {{category-notifications-button value=category.notification_level category=category}}
  {{/if}}

  {{create-topic-button
    canCreateTopic=canCreateTopic
    action=createTopic
    disabled=createTopicDisabled
    label=createTopicLabel
  }}

  {{#if showCategoryEdit}}
    {{d-button
      class="btn-default edit-category"
      action=editCategory
      icon="wrench"
      label="category.edit_long"}}
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="components/bread-crumbs">
  {{
      category-drop
      category=firstCategory
      categories=parentCategoriesSorted
      countSubcategories=true
    }}

    {{#if childCategories}}
      {{category-drop
        category=secondCategory
        parentCategory=firstCategory
        categories=childCategories
        subCategory=true
        noSubcategories=noSubcategories}}
    {{/if}}

    {{#if siteSettings.tagging_enabled}}
      {{tag-drop firstCategory=firstCategory secondCategory=secondCategory tagId=tagId}}
    {{/if}}

    {{plugin-outlet name="bread-crumbs-right" connectorTagName="li"}}

    <div class='clear'></div>
</script>

<script type="text/x-handlebars" data-template-name="discovery/topics">
    {{#if redirectedReason}}
        <div class="alert alert-info">{{redirectedReason}}</div>
    {{/if}}

  {{#if showDismissAtTop}}
    <div class="row">
      {{#if showDismissRead}}
        <button title="{{i18n 'topics.bulk.dismiss_tooltip'}}" id='dismiss-topics-top' class='btn btn-default dismiss-read' {{action "dismissReadPosts"}}>{{i18n 'topics.bulk.dismiss_button'}}</button>
      {{/if}}
      {{#if showResetNew}}
        <button id='dismiss-new-top' class='btn btn-default dismiss-read' {{action "resetNew"}}>{{d-icon "check"}} {{i18n 'topics.bulk.dismiss_new'}}</button>
      {{/if}}
    </div>
  {{/if}}

  {{#if model.sharedDrafts}}
    {{topic-list
      class="shared-drafts"
      listTitle="shared_drafts.title"
      top=top
      hideCategory="true"
      category=category
      topics=model.sharedDrafts
      discoveryList=true}}
  {{/if}}

  {{bulk-select-button selected=selected action="refresh" category=category}}

  {{#discovery-topics-list model=model refresh="refresh" incomingCount=topicTrackingState.incomingCount}}
    {{#if top}}
      <div class='top-lists'>
        {{period-chooser period=period action="changePeriod"}}
      </div>
    {{else}}
      {{#if topicTrackingState.hasIncoming}}
        <div class="show-more {{if hasTopics 'has-topics'}}">
          <div class='alert alert-info clickable' {{action "showInserted"}}>
            <a tabindex="0" href="" {{action "showInserted"}}>
              {{count-i18n key="topic_count_" suffix=topicTrackingState.filter count=topicTrackingState.incomingCount}}
            </a>
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{#if hasTopics}}
      {{topic-list
        highlightLastVisited=true
        top=top
        showTopicPostBadges=showTopicPostBadges
        showPosters=true
        canBulkSelect=canBulkSelect
        changeSort="changeSort"
        toggleBulkSelect="toggleBulkSelect"
        hideCategory=model.hideCategory
        order=order
        ascending=ascending
        bulkSelectEnabled=bulkSelectEnabled
        selected=selected
        expandGloballyPinned=expandGloballyPinned
        expandAllPinned=expandAllPinned
        category=category
        topics=model.topics
        discoveryList=true}}
    {{/if}}
  {{/discovery-topics-list}}

  <footer class='topic-list-bottom'>
    {{conditional-loading-spinner condition=model.loadingMore}}
    {{#if allLoaded}}
      {{#if showDismissRead}}
        <button title="{{i18n 'topics.bulk.dismiss_tooltip'}}" id='dismiss-topics' class='btn btn-default dismiss-read' {{action "dismissReadPosts"}}>{{i18n 'topics.bulk.dismiss_button'}}</button>
      {{/if}}
      {{#if showResetNew}}
        <button id='dismiss-new' class='btn btn-default dismiss-read' {{action "resetNew"}}>
          {{d-icon "check"}} {{i18n 'topics.bulk.dismiss_new'}}</button>
      {{/if}}

      {{#footer-message education=footerEducation message=footerMessage}}
        {{#if latest}}
          {{#if canCreateTopicOnCategory}}<a href {{action "createTopic"}}>{{i18n 'topic.suggest_create_topic'}}</a>.{{/if}}
        {{else if top}}
          {{#link-to "discovery.categories"}}{{i18n 'topic.browse_all_categories'}}{{/link-to}}, {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}} {{i18n 'or'}} {{i18n 'filters.top.other_periods'}}.
          {{top-period-buttons period=period action="changePeriod"}}
        {{else}}
          {{#link-to "discovery.categories"}} {{i18n 'topic.browse_all_categories'}}{{/link-to}} {{i18n 'or'}} {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}}.
        {{/if}}
      {{/footer-message}}

    {{/if}}
  </footer>
</script>

<script type="text/x-handlebars" data-template-name="discovery">
  <div class="container">
        {{mount-widget widget="my-widget"}}
          {{discourse-banner user=currentUser banner=site.banner}}
        </div>

        <div class="list-controls">
          <div class="container">
            {{outlet "navigation-bar"}}
          </div>
        </div>

        {{conditional-loading-spinner condition=loading}}

        <div class="container list-container {{if loading "hidden"}}">
          <div class="row">
            <div class="full-width">
              <div id="header-list-area">
                {{outlet "header-list-container"}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="full-width">
              <div id="list-area">
                {{plugin-outlet name="discovery-list-container-top"
                                args=(hash category=category listLoading=loading)}}
                {{outlet "list-container"}}
              </div>
            </div>
          </div>
        </div>

        {{plugin-outlet name="discovery-below"}}
</script>

<!-- Topic list -->
<!-- remove header -->
<!-- <script
  type="text/x-handlebars"
  data-template-name="topic-list-header.raw"
></script> -->

<script>
    function isHome() {
        console.log('window.location.pathname')
        return window.location.pathname === '/';
    }

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function navFunction() {
        const x = document.getElementById("mobileNav");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }

    (function() {
        console.log('Setting up ifHome helper function')
        Handlebars.registerHelper("ifHome", function(conditional, options) {
            if (window.location.pathname === '' || window.location.pathname === '/') {
                options.fn(this);
            } else {
                options.inverse(this);
            }
        });
    });
</script>

<script type="text/x-handlebars" data-template-name="/connectors/below-site-header/foobar">
    <div>
        <header id="keteHeader">
            <div class="wrap header-container topnav">
                <div class="nav-toggle">
                    <a href="javascript:void(0);" class="icon" onclick="navFunction()">
                        <img
                                width="24"
                                height="24"
                                src="https://ketedev.nzte.govt.nz/icon/hamburger.png"
                        />
                    </a>
                </div>

                <div class="header-logo">
                    <a href="/"><img src="https://keteuat.nzte.govt.nz/nztelogo.png"/></a>
                </div>

                <div class="nav-container">
                    {{#if currentUser}}
                    <div class="navbar">
                        <a class="nav-item">Learn</a>
                        <span class="nav-item is-active">Forum</span>
                        <a class="nav-item">Plan</a>
                        <!-- <a class="nav-item">Visit</a> -->
                    </div>
                    <div class="profile-dropdown" onclick="myFunction()">
                            <span  class="dropbtn">
                                <img
                                        class="profile-avatar"
                                        src="https://keteuat.nzte.govt.nz/blank-avatar.png"
                                        height="44"
                                        width="44"/>
                                <span class="profile-name">{{currentUser.name}}</span>
                                <img
                                        class="profile-arrow"
                                        height="24"
                                        width="24"
                                        src="https://ketedev.nzte.govt.nz/icon/expand.png"/>
                            </span>
                        <div id="myDropdown" class="dropdown-content">
                            <a class="nav-dropdown-item" href="#home">My Profile</a>
                            <a class="nav-dropdown-item" href="#about">My Company</a>
                            <a class="nav-dropdown-item" href="#contact">Sign Out</a>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </header>
        {{#if currentUser}}
        <div id="mobileNav">
            <div class="profile-dropdown mobile-nav-profile">
                    <span class="dropbtn">
                    <img class="profile-avatar" src="https://keteuat.nzte.govt.nz/blank-avatar.png" height="44" width="44"/>
                    <span class="profile-name">{{currentUser.name}}</span>
                </span>
            </div>
            <div class="mobile-nav-section">
                <a class="nav-dropdown-item" href="#news">My Profile</a>
                <a class="nav-dropdown-item" href="#contact">Plan</a>
            </div>
            <div class="mobile-nav-section">
                <a class="nav-dropdown-item" href="#about">Learn</a>
                <a class="nav-dropdown-item" href="#about">Forum</a>
                <a class="nav-dropdown-item" href="#about">Plan</a>
                <!-- <a class="nav-dropdown-item" href="#about">Visit</a>-->
            </div>
            <a class="nav-dropdown-item" href="#about">Sign Out</a>
        </div>
        {{/if}}
        <div id="headerBanner">
            <div class="wrap">
                    {{{page.title}}}

                <h1>Kete Community</h1>
                <p>Your forum to ask questions, post new discussions or join in on existing discussions by other NZTE customers.</p>
            </div>
        </div>
    </div>
</script>

<!-- list items -->
<!-- <script type="text/x-handlebars" data-template-name="list/topic-list-item.raw">
      
  <td class='main-link clearfix' colspan="{{titleColSpan}}">
    <span class='link-top-line'>
      {{~raw-plugin-outlet name="topic-list-before-status"}}
      {{~raw "topic-status" topic=topic}}
      <div>
      
      </div>
      {{~#if topic.featured_link}}
        {{~topic-featured-link topic}}
      {{~/if}}
      {{~raw-plugin-outlet name="topic-list-after-title"}}
      {{~#if showTopicPostBadges}}
        {{~raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl newDotText=newDotText}}
      {{~/if}}
    </span>

    {{discourse-tags topic mode="list" tagsForUser=tagsForUser}}

      {{raw "list/topic-excerpt" topic=topic}}

    {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
  </td>

  {{#unless hideCategory}}
    {{#unless topic.isPinnedUncategorized}}
      {{raw "list/category-column" category=topic.category}}
    {{/unless}}
  {{/unless}}



  {{raw "list/posts-count-column" topic=topic}}

  {{#if showParticipants}}
    {{raw "list/posters-column" posters=topic.participants}}
  {{/if}}

  {{#if showLikes}}
  <td class="num likes">
    {{#if hasLikes}}
      <a href='{{topic.summaryUrl}}'>
        {{number topic.like_count}} {{d-icon "heart"}}</td>
      </a>
    {{/if}}
  {{/if}}

  {{#if showOpLikes}}
  <td class="num likes">
    {{#if hasOpLikes}}
      <a href='{{topic.summaryUrl}}'>
        {{number topic.op_like_count}} {{d-icon "heart"}}</td>
      </a>
    {{/if}}
  {{/if}}

  <td class="num views {{topic.viewsHeat}}">{{number topic.views numberKey="views_long"}}</td>

  {{raw "list/activity-column" topic=topic class="num" tagName="td"}}



  <td class="list-user-image-container">
      {{#if showPosters}}
        {{raw "list/posters-column" posters=topic.posters}}
      {{/if}}
  </td>

  <td class="list-info-container">
      <div>
            {{~topic-link topic class="raw-link raw-topic-link"}}
      </div>

  </td>

  <td class="list-comments-container">comments</td>

</script> -->

<!-- widgets -->
